<html>
<head>
  <title>S3 Bucket Listing Generator</title>
</head>
<body>
  <div id="navigation"></div>
  <div id="listing"></div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
  var S3BL_IGNORE_PATH = true;
  var BUCKET_URL = 'https://s3-{{ region }}.amazonaws.com/{{ bucket_name }}';
  var S3B_ROOT_DIR = '{{ s3_buckets[bucket_name].listing_index_rootdir|default("") }}';
  var S3B_SORT = '{{ s3_buckets[bucket_name].listing_index_sort|default("DEFAULT") }}';
  var EXCLUDE_FILE = '{{ s3_buckets[bucket_name].listing_index_exclude_file|default("index.html") }}';
  var AUTO_TITLE = true;
</script>
<script type="text/javascript" src="https://s3-ap-southeast-2.amazonaws.com/xvt-public-repo/s3list.js"></script>
</body>
</html>
